<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
    joint02_effort_controller 
    joint03_effort_controller 
    joint04_effort_controller 
    joint05_effort_controller 
    joint06_effort_controller 
    joint07_effort_controller 
    joint08_effort_controller
    joint09_effort_controller 
    joint10_effort_controller
    joint11_effort_controller 
    joint12_effort_controller 
    joint13_effort_controller 
    joint14_effort_controller 
    joint15_effort_controller 
    joint16_effort_controller 
    joint17_effort_controller 
    joint18_effort_controller
    joint19_effort_controller 
    joint20_effort_controller
    joint21_effort_controller
    joint22_effort_controller 
    joint23_effort_controller 
    joint24_effort_controller 
    joint25_effort_controller 
    joint26_effort_controller 
    joint27_effort_controller 
    joint28_effort_controller
    joint29_effort_controller 
    joint30_effort_controller
    joint31_effort_controller
    joint32_effort_controller 
    joint33_effort_controller 
    joint34_effort_controller 
    joint35_effort_controller 
    joint36_effort_controller 
    joint37_effort_controller 
    joint38_effort_controller
    joint39_effort_controller 
    joint40_effort_controller
    joint41_effort_controller 
    joint42_effort_controller 
    joint43_effort_controller 
    joint44_effort_controller 
    joint45_effort_controller 
    joint46_effort_controller 
    joint47_effort_controller 
    joint48_effort_controller
    joint49_effort_controller 
    joint50_effort_controller
    joint_state_controller"/>
    
     <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find fullurdf3)/config/joint_names_fullurdf3.yaml" command="load"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrbot/joint_states" />
  </node>
</launch>
