<?xml version="1.0"?>
<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint01_effort_controller 
    joint02_effort_controller 
    joint03_effort_controller 
    joint04_effort_controller 
    joint05_effort_controller 
    joint06_effort_controller 
    joint07_effort_controller 
    joint08_effort_controller 
    joint09_effort_controller 
    joint10_effort_controller 
    joint11_effort_controller
    joint_state_controller"/>
    
     <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find softactuator)/config/joint_names_softactuator.yaml" command="load"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rrbot/joint_states" />
  </node>
</launch>
